<table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <% books.each do |book| %>
      <tobody>
        <tr>
          <td>
            <%= link_to user_path(book.user) do %>
              <%=image_tag book.user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(book) do %>
              <%= book.title %>
            <% end %>
          </td>
          <td><%= book.body %></td>
          <td>
             <% if book.favorited_by?(current_user) %>
                  <p>
                    <%= link_to book_favorites_path(book) , method: :delete do %>
                      <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                      <%= book.favorites.count %>
                    <% end %>
                  </p>
                <% else %>
                <p>
                  <%= link_to book_favorites_path(book) , method: :post do %>
                    <i class="fa-solid fa-heart" style="color: #006eff;"></i>
                    <%= book.favorites.count %>
                  <% end %>
                </p>
                <% end %>
          </td>
          <td>
            <p>コメント数:<%= book.book_comments.count %></p>
          </td>
        <% end %>
      </tr>
    </tobody>
  </table>